.loading-container {
    background: #0D0E13;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    transform-origin: right center;
    height: calc(100% + 250px);
    padding-bottom: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 250px));
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-image {
    width: 50vw; /* Ajusta según tus necesidades */
    height: auto;
    transition: opacity 0.9s cubic-bezier(.6, 0, 0.25, 1);
}

.loading-transition {
    transition: clip-path 0.9s cubic-bezier(.6, 0, 0.25, 1);
}
